/* Put your CSS here */

@import 'compass/reset';

html, body {
    background-color: moccasin;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

@keyframes domChanged { from { background: yellow; } }
@-webkit-keyframes domChanged { from { background: yellow; } }
.ember-view { animation: domChanged 1s; -webkit-animation: domChanged 1s; }


.container {
	margin:30px auto 0 auto;
	max-width:960px;
}

.bill {
	background:url('../images/400.jpeg') center center no-repeat;
	width:400px;
	height:400px;
	margin:20px 0 20px 0;
}